.container{
    display:grid;
    background-color: black;
    grid-template-columns: [first-line] 40px [second-line] auto[third-line] 90px [end];
    grid-template-rows: [row1-start] 50px [row1-end] 290px [row2-end] 90px [row3-end] auto [row4-end] 70px [row5-end];
    height:100vh;
    grid-template-areas: "header header header"
    "main main main"
    "main main main"
    "sub-main sub-main sub-main"
    "footer footer footer";
}

.item-1{
    grid-area: header;
    background-color: aqua;
}

.item-2{
    grid-area: main;
    background-color: rgb(32, 90, 90);
}

.item-3{
    grid-area:sub-main;
    background-color: rgba(0, 151, 151, 0.554);
}

.item-4{
    grid-area:footer;
    background-color: rgb(81, 102, 102);
}
